@charset "utf-8";
@media screen and (max-width: 54em) {
	/* .dhmenu is the original menu */
	.dhmenu {
 		display:none;
	}

	footer div nav.navbar {
		display:none;
	}
	
	.slicknav_menu {
		display:block;
		background-color: #41261d !important;
	}
	
	.slicknav_btn {
		background-color: #a60a17;
	}
	
	.slicknav_menu a {
		font-size:20px;
	}
	
	.slicknav_menu a:link, 
	.slicknav_menu a:visited {
		color: white;
	}
	
	.slicknav_menu a:hover, 
	.slicknav_menu a:active {
		color: #41261d;
	}
	

	.slicknav_nav li.active a
	{
		background-color: white;
		border-radius: 6px;
		-moz-border-radius: 6px;
		color: #41261d;
		text-decoration: none;
	}
	.slicknav_nav a:hover {
		background-color: white;
	}

	.slicknav-imprint {
		display:block;
	}
	
	body {
		font: 150%/1.3 Humanst521_roman, Verdana, Arial, Helvetica, sans-serif;
	}
	
	nav.navbar-fixed-top {
		position:relative;
	}
	
	
	.abstand-2, .abstand-2-2 {
		margin-top: inherit;
	}
	
	.abstand-2-2 {
		margin-bottom: inherit;
	}
	
	#dhbild {
		margin: 0px !important;
		padding: 0px !important;
	}
	
	.jumbotron {
   	margin-top: 0px;
		width: auto;
	}
	.center-block, .center-block * {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 0px;
		padding-right: 0px;
	}
	
	img.logo-size {
		height: 131px;
		width: 310px;
	}
	
	img.img-responsive.img-icon {
		width:100px !important; 
	}
}